body {
    background-color: #d1fae5;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #9bbbb1 inset !important; 
    box-shadow: 0 0 0 30px #9bbbb1 inset !important; 
    -webkit-text-fill-color: #ffffff !important; 
    background-color: #9bbbb1 !important; 
}

input:-moz-autofill {
    background-color: #9bbbb1 !important; 
    -webkit-box-shadow:  0 0 0 30px #9bbbb1 inset !important;
    box-shadow: 0 0 0 30px #9bbbb1 inset !important;
    -webkit-text-fill-color: #ffffff !important;
}

input {
    background-color: transparent !important; 
}

